/*  Utilities  */

@font-face {
    font-family: "Milkshake";
    src: url(fonts/Milkshake\ 400.ttf);
}

@mixin p-value {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #6a6a6a;
    font-family: "Ubuntu";
    font-weight: 300;
}

@mixin h2-value {
    font-size: 60px;
    line-height: 60px;
    font-family: "Old Standard TT";
    font-weight: 400;
}

@mixin button-value {
    border: none;
    background-color: #3c3c3c;
}

@mixin button-p-value {
    text-align: center;
    width: 100%;
    margin: auto;
    color: #fff;
    border: 1px solid #fff;
    padding: 8%;
}

/*  Styles  */

body {
    background-color: #fff;
}

header {
    .container-fluid {
        background-image: url("pictures/bike0.png");
        background-repeat: no-repeat;
        background-position: center; 
        height: 100vh;

        .nav {
            padding-top: 2vh;
            .col-xl-4 {
                text-align: center;
                a {
                    line-height: 72px;
                }
                .logo {
                    font-size: 56px;
                    color: #fff;
                    font-family: "Milkshake";                 
                }
                .menu:nth-child(2) {
                    margin: 0 3vw;
                }
                .menu {
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: #ffffff;
                    font-family: "Ubuntu";
                    font-weight: 400;
                }
                .icon-basket {
                    color: #fff;
                    padding-right: 0.2vw;
                }
                .basket {
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: #ffffff;
                    font-family: "Ubuntu";
                    font-weight: 400;
                }
            }
        }

        .content {
            position: relative;
            top: 28%;
            transform: translateY(-25%);
            .col-xl-8 {
                text-align: center;
                h1 {
                    font-size: 72px;
                    line-height: 72px;
                    color: #fff;
                    font-family: "Old Standard TT";
                    font-weight: 400;
                    margin-bottom: 2vh;
                }
                h3 {
                    font-size: 28px;
                    letter-spacing: 2px;
                    color: #c2c1c1;
                    font-family: "Ubuntu";
                    font-weight: 300;
                }
                .icon-play-circled {
                    color: #fff;
                    font-size: -webkit-xxx-large;
                    transition: .5s ease-in-out;
                    &:hover {
                        color: #3c3c3c;
                    }
                }
            }
        }
    }

}

.first-section {
    margin-top: 12vh;
    .container {
        .row {
            .col-xl-6 {
                h2 {
                    @include h2-value;
                    color: #3c3c3c;
                    margin: 10vh 0 4vh 0;
                }
                p:nth-child(3) {
                    padding: 1vh 0;
                }
                p {
                    @include p-value;
                    width: 95%;
                }
                button {
                    @include button-value;
                    width: 34%;
                    height: 9%;
                    margin-top: 5vh;
                    p {
                        @include button-p-value;
                    }
                }
                img {
                    width: 120%;
                }                
            }
        }
    }
}

.second-section {
    .container-fluid {
        .row {
            .left {              
                content: "";
                background-image: url("pictures/bike2.png");
                background-repeat: no-repeat;
                background-position: right; 
                height: 560px; 
            }
            .right {
                p {
                    @include p-value;
                    width: 70%;
                    margin: 10vh 0 0 1vw;
                    font-style: italic;
                }
            }
        }
    }
}

.third-section {
    .container {
        .row {
            h2 {
                @include h2-value;
                color: #3c3c3c;
                text-align: center;
                margin: 10vh auto 4vh auto; 
            }
            p {
                @include p-value;
                width: 82%;
                margin: 0 auto 7vh auto;
                text-align: center;
            }
        }  
    }
    .container-fluid {
        .row {
            .col, .col-xl-8 {
                padding-right: 0;
                padding-left: 0;
            }
            .col {
                .p1 {
                    width: 3.5vw;
                }
                .p-2 {
                    padding: .5rem 0!important;
                    width: 9vw;
                }
            }
            .col-xl-8 {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.fourth-section {
    .container {
        margin-top: 15vh;
        .row {
            .col-xl-10 {
                padding-right: 0;
                padding-left: 0;
                h2 {
                    @include h2-value;
                    font-size: 58px;
                }
                p {
                    @include p-value;
                    width: 90%;
                    margin: 3vh auto 9vh auto;
                    text-align: center;
                }
            }
            .col-xl-3 {
                img {
                    width: 95%;
                    display: block;
                    margin: auto;
                }
            }
            .first {
                margin-top: 5vh;
                font-size: 22px;
                letter-spacing: 1px;
                color: #3c3c3c;
                font-family: "Old Standard TT";
                font-weight: 700;
                text-align: center;
            }
            .second {
                font-size: 22px;
                color: #6a6a6a;
                font-family: "Ubuntu";
                font-weight: 500;
                text-align: center;
            }
            button {
                @include button-value;
                display: block;
                margin: 8vh auto 30vh auto;
                width: 80%;
                height: 9%;
                p {
                    @include button-p-value;
                    padding: 5%;
                }
            }
        }
    }
}

footer {
    .container-fluid {
        background-image: url("pictures/bike0.png");
        background-repeat: no-repeat;
        background-position: center; 
        height: 100vh;
        .row {
            .col-xl-8 {
                
            }
        }
    }    
}